body {
  background-color: #202124;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  position: relative;
}

header {
  position: absolute;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: end;
}

a[href="./image-search/image-search.html"] {
  margin-right: 2rem;
}

header > div {
  width: 30rem;
  display: flex;
  justify-content: end;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

header span {
  margin: 1rem;
  color: inherit;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-input {
  width: 30rem;
  margin-bottom: 2rem;
  border: 1px solid #5f6368;
  border-radius: 3rem;
}

.form-input:hover {
  background-color: #303134;
  border-color: rgba(223,225,229,0);
}

.form-input > input {
  width: 26rem;
  height: 2rem;
  border: none;
  outline: none;
  margin: 2px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: inherit;
  color: inherit;
}
